body {
    background-color: white;
}

.galvenais {
    color: white;
    display: flex;
    background-color: black;
    height: 4vw;
    align-items: center;
    justify-content: space-around;
}

.saraksts {
    background-color: white;
    color: black;
    align-items: normal;
    justify-content: normal;
    margin-left: 60px;
}

.kontakti {
    color: white;
    display: flex;
    background-color: black;
    height: 4vw;
    align-items: center;
    justify-content: space-around;
}

.bar {
    font-size: 20px;
}

.JanisKalnins {
    font-size: 2vw;
}

.bildes {
    align-self: flex;
}

@media (max-width:780px) {
    .kontakti {
        align-items: normal;
        justify-content: mormal;
        height: 7vh;
    }
}