body {
    background-color: white;
}

.galvenais {
    color: white;
    display: flex;
    background-color: black;
    height: 80px;
    align-items: center;
    justify-content: space-around;
}

nav a {
    color: white;
    text-align: center;
}

.JanisKalnins {
    font-size: 70px;
}

.bar {
    font-size: 20px;
}

.saraksts {
    background-color: white;
    color: black;
    align-items: normal;
    justify-content: normal;
    margin-left: 60px;
}